@charset "UTF-8";


/* ------------------------------------------------------------------------------------------------ */
/* --- Style Reset -------------------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

body {
    min-height: 100%;
}

html,
body,
blockquote,
pre,
ol,
ul,
li,
dl,
dt,
dd,
thead,
tbody,
tfoot,
th,
tr,
td,
form,
fieldset,
legend,
textarea,
figure,
iframe,
menu {
    margin: 0;
}

html,
body,
thead,
tbody,
tfoot,
th,
tr,
td,
figure,
iframe,
ul,
menu {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: inline-block;
    max-width: 100%;
}

button {
    border: none;
}

li {
    list-style: none;
}


/* ------------------------------------------------------------------------------------------------ */
/* --- Typography --------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap?family=Open+Sans:wght@400;700;800&display=swap?family=Roboto:wght@400;700;900&display=swap');


/* ------------------------------------------------------------------------------------------------ */
/* --- App Base Styles ---------------------------------------------------------------------------- */

:root {
    /* Typography --------------------- */
    --ff-title: 'Poppins', sans-serif;
    --ff-body: 'Roboto', sans-serif;

    /* General Colors ----------------- */
    --white:   #ffffff;
    --gray-01: #fbfdff;
    --gray-02: #ebedf1;
    --gray-03: #d7dae0;
    --gray-04: #c7ccd4;
    --gray-05: #8f95a0;
    --gray-06: #5c6370;
    --gray-07: #414a57;
    --gray-08: #343d4d;
    --gray-09: #1a202b;
    --gray-10: #0f1522;
    --black:   #000000;

    --red:       #ce0f0f;
    --tomato:    #dd3618;
    --coral:     #f7543b;
    --orange:    #ff7708;
    --amber:     #f3a622;
    --gold:      #ffca1c;
    --yellow:    #eeee14;
    --lawn:      #7aee0d;
    --lime:      #4ae919;
    --green:     #11ca11;
    --emerald:   #09be73;
    --teal:      #0cb9be;
    --aqua:      #0ecce6;
    --sky:       #1cb1f7;
    --ocean:     #0f84f1;
    --blue:      #1445e4;
    --indigo:    #4f1ae2;
    --grape:     #6e1db6;
    --purple:    #a10ea7;
    --fuchsia:   #eb2deb;
    --bubblegum: #ff43b7;
    --pink:      #ff70a7;
    --rose:      #f00d59;

    /* Colors In Use ------------------ */
    --success:   var(--emerald);
    --info:      var(--ocean);
    --warning:   var(--amber);
    --danger:    var(--rose);
    
    --primary:   var(--aqua);
    --secondary: var(--indigo);
    --accent:    var(--gold);
    
    --gradient-p-a: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);

    /*  */
    --body-bg-c: var(--gray-01);
    --body-txt-c: var(--gray-10);

    --title-c: var(--primary);

    --btn-txt-c: var(--white);
    --btn-bg-c: var(--gradient-p-a);


    /* Shadows ------------------------ */
    --elevated-01: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --elevated-02: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --elevated-03: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --elevated-04: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --elevated-05: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

    --glow-primary-base: 0 0px 15px -3px var(--primary),0 4px 16px -9px var(--primary);
    --glow-primary-elev: 0 3px 20px -9px var(--primary),0 6px 20px -9px var(--primary);

    --glow-secondary-base: 0 0px 15px -3px var(--secondary),0 4px 16px -9px var(--secondary);
    --glow-secondary-elev: 0 3px 20px -9px var(--secondary),0 6px 20px -9px var(--secondary);

    --glow-accent-base: 0 0px 15px -3px var(--accent),0 4px 16px -9px var(--accent);
    --glow-accent-elev: 0 3px 20px -9px var(--accent),0 6px 20px -9px var(--accent);


    /* Radius Sizes ------------------- */
    --radius-sm: 0.125rem;
    --radius-md: 0.250rem;
    --radius-lg: 0.375rem;

}


/* ------------------------------------------------------------------------------------------------ */
/* --- Global Styles ------------------------------------------------------------------------------ */

::selection {
    background-color: var(--secondary);
    color: var(--white);
}

html {
    font-size: 16px;
}
@media screen and (max-width: 500px) {
    html { font-size: 15px }
}
@media screen and (max-width: 400px) {
    html { font-size: 14px }
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--ff-body);
    background-color: var(--body-bg-c);
    color: var(--body-txt-c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
}


/* ------------------------------------------------------------------------------------------------ */
/* --- Utilities ---------------------------------------------------------------------------------- */

.clickable {
    cursor: pointer;
}
.clickable:hover {
    transform: scale(1.015);
}
.clickable:active {
    transform: scale(0.98);
}

.title {
    background: var(--gradient-p-a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--ff-title);
    font-size: 2.2rem;
    font-weight: 900;
    display: inline-block;
}

.title * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}


/* ------------------------------------------------------------------------------------------------ */
/* --- CSS... ------------------------------------------------------------------------------------- */

/* ... */
.btn {
    cursor: pointer;
    font-family: var(--ff-title);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3em 1.2em;
    border-radius: var(--radius-md);
    transition: all 80ms cubic-bezier(0.5,-0.05, 0.5, 1.05);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--glow-primary-base);
}
.btn-primary:hover:not(:active) {
    box-shadow: var(--glow-primary-elev);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--secondary);
    box-shadow: var(--glow-secondary-base);
}
.btn-secondary:hover:not(:active) {
    box-shadow: var(--glow-secondary-elev);
}

.btn-accent {
    color: var(--white);
    background-color: var(--accent);
    box-shadow: var(--glow-accent-base);
}
.btn-accent:hover:not(:active) {
    box-shadow: var(--glow-accent-elev);
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */